pipeline/Copy from CSV to Profisee REST API.json
{
	"name": "Ingress Staging Area CSV to REST API",
	"properties": {
		"activities": [
			{
				"name": "Update CSV to REST API",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set EntityName variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": 10,
						"requestMethod": "PATCH",
						"writeBatchSize": 10000,
						"additionalHeaders": {
							"x-api-key": "93e4de0d436c4630ae0ca0a1780eee14"
						},
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "code",
									"type": "String"
								},
								"sink": {
									"path": "$['code']"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"path": "$['name']"
								}
							},
							{
								"source": {
									"name": "productSubCategory",
									"type": "String"
								},
								"sink": {
									"path": "$['productSubCategory']"
								}
							},
							{
								"source": {
									"name": "color",
									"type": "String"
								},
								"sink": {
									"path": "$['color']"
								}
							},
							{
								"source": {
									"name": "class",
									"type": "String"
								},
								"sink": {
									"path": "$['class']"
								}
							},
							{
								"source": {
									"name": "weight",
									"type": "Double"
								},
								"sink": {
									"path": "$['weight']"
								}
							},
							{
								"source": {
									"name": "sellEndDate",
									"type": "DateTime"
								},
								"sink": {
									"path": "$['sellEndDate']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "InputBlobCsv",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@pipeline().parameters.FileFolder",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ProfiseeRESTAPI_Members_Update",
						"type": "DatasetReference",
						"parameters": {
							"entityId": {
								"value": "@variables('EntityName')",
								"type": "Expression"
							},
							"isUpsert": true
						}
					}
				]
			},
			{
				"name": "Set EntityName variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EntityName",
					"value": {
						"value": "@replace(pipeline().parameters.FileFolder, 'profisee-input/', '')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"FileFolder": {
				"type": "string"
			}
		},
		"variables": {
			"EntityName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "REST API"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-25T15:29:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}