BrianBa-ADF/PartialArmTemplates/ArmTemplate_10_2_2020_10_29_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BrianBa-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Ingress Staging Area CSV to REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update CSV to REST API",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set EntityName variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "PATCH",
								"writeBatchSize": 10000,
								"additionalHeaders": {
									"x-api-key": "4d506aeb27f540a0a042a65ebaa5ec81"
								},
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "code",
											"type": "String"
										},
										"sink": {
											"path": "$['code']"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"path": "$['name']"
										}
									},
									{
										"source": {
											"name": "productSubCategory",
											"type": "String"
										},
										"sink": {
											"path": "$['productSubCategory']"
										}
									},
									{
										"source": {
											"name": "color",
											"type": "String"
										},
										"sink": {
											"path": "$['color']"
										}
									},
									{
										"source": {
											"name": "class",
											"type": "String"
										},
										"sink": {
											"path": "$['class']"
										}
									},
									{
										"source": {
											"name": "style",
											"type": "String"
										},
										"sink": {
											"path": "$['style']"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String"
										},
										"sink": {
											"path": "$['country']"
										}
									},
									{
										"source": {
											"name": "standardCost",
											"type": "Double"
										},
										"sink": {
											"path": "$['standardCost']"
										}
									},
									{
										"source": {
											"name": "safetyStockLevel",
											"type": "String"
										},
										"sink": {
											"path": "$['safetyStockLevel']"
										}
									},
									{
										"source": {
											"name": "reorderPoint",
											"type": "Double"
										},
										"sink": {
											"path": "$['reorderPoint']"
										}
									},
									{
										"source": {
											"name": "msrp",
											"type": "String"
										},
										"sink": {
											"path": "$['msrp']"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "Double"
										},
										"sink": {
											"path": "$['weight']"
										}
									},
									{
										"source": {
											"name": "dealerCost",
											"type": "String"
										},
										"sink": {
											"path": "$['dealerCost']"
										}
									},
									{
										"source": {
											"name": "sellStartDate",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['sellStartDate']"
										}
									},
									{
										"source": {
											"name": "sellEndDate",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['sellEndDate']"
										}
									},
									{
										"source": {
											"name": "productLine",
											"type": "String"
										},
										"sink": {
											"path": "$['productLine']"
										}
									},
									{
										"source": {
											"name": "size",
											"type": "Double"
										},
										"sink": {
											"path": "$['size']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "InputBlobCsv",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@pipeline().parameters.FileFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Update",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"isUpsert": true
								}
							}
						]
					},
					{
						"name": "Set EntityName variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EntityName",
							"value": {
								"value": "@replace(pipeline().parameters.FileFolder, concat(variables('InputContainer'),'/'), '')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FileFolder": {
						"type": "string"
					}
				},
				"variables": {
					"EntityName": {
						"type": "String"
					},
					"InputContainer": {
						"type": "String",
						"defaultValue": "profisee-input"
					},
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		}
	]
}