BrianBa-ADF/PartialArmTemplates/ArmTemplate_1_5_2021_7_44_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BrianBa-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Ingress Staging Area JSON to REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update JSON to REST API",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set EntityName variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "PATCH",
								"writeBatchSize": 10000,
								"additionalHeaders": {
									"x-api-key": "93e4de0d436c4630ae0ca0a1780eee14"
								},
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "InputBlobJson",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@pipeline().parameters.FileFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Update",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"isUpsert": true
								}
							}
						]
					},
					{
						"name": "Set EntityName variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EntityName",
							"value": {
								"value": "@replace(pipeline().parameters.FileFolder, 'profisee-input/', '')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FileFolder": {
						"type": "string"
					}
				},
				"variables": {
					"EntityName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST API direct to Salesforce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST API to Salesforce Accounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"x-api-key": "93e4de0d436c4630ae0ca0a1780eee14"
								},
								"paginationRules": {
									"AbsoluteUrl": "$.nextPage"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": "ProfiseeCode__c",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['code']"
										},
										"sink": {
											"name": "ProfiseeCode__c",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address Input']"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['city Input']"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state Input']"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['zip Input']"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['phone']"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['website']"
										},
										"sink": {
											"name": "Website",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Get",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@pipeline().parameters.EntityName",
										"type": "Expression"
									},
									"pageSize": 100,
									"attributes": "Address Input,City Input,State Input,Zip Input,Phone,Website",
									"filter": " ",
									"orderBy": " ",
									"dbaFormat": 1
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SalesforceAccount",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"EntityName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST API to Egress Staging Area - CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST API Product to CSV",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"x-api-key": "93e4de0d436c4630ae0ca0a1780eee14"
								},
								"paginationRules": {
									"AbsoluteUrl": "$.nextPage"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['internalId']"
										},
										"sink": {
											"name": "internalId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Guid"
										}
									},
									{
										"source": {
											"path": "[['code']"
										},
										"sink": {
											"name": "code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['productSubCategory']"
										},
										"sink": {
											"name": "productSubCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['color']"
										},
										"sink": {
											"name": "color",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class']"
										},
										"sink": {
											"name": "class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['style']"
										},
										"sink": {
											"name": "style",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['country']"
										},
										"sink": {
											"name": "country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['standardCost']"
										},
										"sink": {
											"name": "standardCost",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['safetyStockLevel']"
										},
										"sink": {
											"name": "safetyStockLevel",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['reorderPoint']"
										},
										"sink": {
											"name": "reorderPoint",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['msrp']"
										},
										"sink": {
											"name": "msrp",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['weight']"
										},
										"sink": {
											"name": "weight",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['dealerCost']"
										},
										"sink": {
											"name": "dealerCost",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['sellStartDate']"
										},
										"sink": {
											"name": "sellStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['sellEndDate']"
										},
										"sink": {
											"name": "sellEndDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['productLine']"
										},
										"sink": {
											"name": "productLine",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['size']"
										},
										"sink": {
											"name": "size",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['changedOn']"
										},
										"sink": {
											"name": "changedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['changedByUser']"
										},
										"sink": {
											"name": "changedByUser",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['validationStatus']"
										},
										"sink": {
											"name": "validationStatus",
											"type": "Int32"
										}
									}
								],
								"collectionReference": "$['data']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Get",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"pageSize": 10000,
									"attributes": " ",
									"filter": " ",
									"orderBy": " ",
									"dbaFormat": 1
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputBlobCsv",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@variables('OutputContainer')",
										"type": "Expression"
									},
									"Directory": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(variables('EntityName'), '_', string(utcnow()), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"variables": {
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					},
					"EntityName": {
						"type": "String",
						"defaultValue": "product"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce direct to REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Salesforce Accounts to REST API",
						"description": "Note, the sink is the AddressTest entity.  Used for testing only.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "PATCH",
								"writeBatchSize": 10000,
								"additionalHeaders": {
									"x-api-key": "93e4de0d436c4630ae0ca0a1780eee14"
								},
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProfiseeCode__c"
										},
										"sink": {
											"path": "$['Code']"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"path": "$['Name']"
										}
									},
									{
										"source": {
											"name": "ShippingStreet",
											"type": "String"
										},
										"sink": {
											"path": "$['Address Input']"
										}
									},
									{
										"source": {
											"name": "ShippingCity",
											"type": "String"
										},
										"sink": {
											"path": "$['City Input']"
										}
									},
									{
										"source": {
											"name": "ShippingState",
											"type": "String"
										},
										"sink": {
											"path": "$['State Input']"
										}
									},
									{
										"source": {
											"name": "ShippingPostalCode",
											"type": "String"
										},
										"sink": {
											"path": "$['Zip Input']"
										}
									},
									{
										"source": {
											"name": "Phone"
										},
										"sink": {
											"path": "$['Phone']"
										}
									},
									{
										"source": {
											"name": "Website"
										},
										"sink": {
											"path": "$['Website']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceAccount",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Update",
								"type": "DatasetReference",
								"parameters": {
									"entityId": "addresstest",
									"isUpsert": true
								}
							}
						]
					}
				],
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T16:03:36Z"
			},
			"dependsOn": []
		}
	]
}