BrianBa-ADF/PartialArmTemplates/ArmTemplate_10_2_2020_10_25_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BrianBa-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Ingress Staging Area JSON to REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update JSON to REST API",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set EntityName variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "PATCH",
								"writeBatchSize": 10000,
								"additionalHeaders": {
									"x-api-key": "4d506aeb27f540a0a042a65ebaa5ec81"
								},
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "InputBlobJson",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@pipeline().parameters.FileFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Update",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"isUpsert": true
								}
							}
						]
					},
					{
						"name": "Set EntityName variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EntityName",
							"value": {
								"value": "@replace(pipeline().parameters.FileFolder, concat(variables('InputContainer'),'/'), '')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FileFolder": {
						"type": "string"
					}
				},
				"variables": {
					"EntityName": {
						"type": "String"
					},
					"InputContainer": {
						"type": "String",
						"defaultValue": "profisee-input"
					},
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce to Ingress Staging Area JSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Salesforce Accounts to JSON",
						"description": "Note, the sink is the AddressTest entity.  Used for testing only.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"path": "$['Code']"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"path": "$['Name']"
										}
									},
									{
										"source": {
											"name": "BillingStreet"
										},
										"sink": {
											"path": "$['Address Input']"
										}
									},
									{
										"source": {
											"name": "BillingCity"
										},
										"sink": {
											"path": "$['City Input']"
										}
									},
									{
										"source": {
											"name": "BillingState"
										},
										"sink": {
											"path": "$['State Input']"
										}
									},
									{
										"source": {
											"name": "BillingPostalCode"
										},
										"sink": {
											"path": "$['Zip Input']"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"path": "$['Phone']"
										}
									},
									{
										"source": {
											"name": "Website",
											"type": "String"
										},
										"sink": {
											"path": "$['Website']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "OutputBlobJson",
								"type": "DatasetReference",
								"parameters": {
									"FileSystem": {
										"value": "@variables('InputContainer')",
										"type": "Expression"
									},
									"Directory": "addresstest",
									"FileName": {
										"value": "@concat('addresstest_', string(utcnow()), '.json')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"variables": {
					"InputContainer": {
						"type": "String",
						"defaultValue": "profisee-input"
					},
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T16:03:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NewJsonMemberFile')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Ingress Staging Area JSON to REST API",
							"type": "PipelineReference"
						},
						"parameters": {
							"FileName": "@triggerBody().FileName",
							"FileFolder": "@triggerBody().FolderPath"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/profisee-input/blobs/",
					"blobPathEndsWith": ".json",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73814551-37dd-4143-a149-df9c2a2c97b6/resourceGroups/ProfiseeBrianBa/providers/Microsoft.Storage/storageAccounts/brianbastorageadlsgen2",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Ingress Staging Area JSON to REST API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingress Staging Area CSV to REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update CSV to REST API",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set EntityName variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "PATCH",
								"writeBatchSize": 10000,
								"additionalHeaders": {
									"x-api-key": "4d506aeb27f540a0a042a65ebaa5ec81"
								},
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "InputBlobCsv",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@pipeline().parameters.FileFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Update",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"isUpsert": true
								}
							}
						]
					},
					{
						"name": "Set EntityName variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EntityName",
							"value": {
								"value": "@replace(pipeline().parameters.FileFolder, concat(variables('InputContainer'),'/'), '')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FileFolder": {
						"type": "string"
					}
				},
				"variables": {
					"EntityName": {
						"type": "String"
					},
					"InputContainer": {
						"type": "String",
						"defaultValue": "profisee-input"
					},
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					}
				},
				"folder": {
					"name": "REST API"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		}
	]
}