BrianBa-ADF/PartialArmTemplates/ArmTemplate_12_15_2020_16_9_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BrianBa-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Egress Profisee REST API to CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST API to CSV",
						"description": "Copy member data from Profisee via the Profisee REST API to ADLS Gen2 in CSV format.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"x-api-key": "4d506aeb27f540a0a042a65ebaa5ec81"
								},
								"paginationRules": {
									"AbsoluteUrl": "$.nextPage"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Get",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"pageSize": 100,
									"attributes": " ",
									"filter": " ",
									"orderBy": " ",
									"dbaFormat": 1
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputBlobCsv",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@variables('OutputContainer')",
										"type": "Expression"
									},
									"Directory": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(variables('EntityName'), '_', string(utcnow()), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"variables": {
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					},
					"EntityName": {
						"type": "String",
						"defaultValue": "product"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingress CSV to Profisee REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update CSV to REST API",
						"description": "Copy member data from ADLS Gen2 in CSV format to Profisee via the Profisee REST API.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set EntityName variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": 10,
								"requestMethod": "PATCH",
								"writeBatchSize": 10000,
								"additionalHeaders": {
									"x-api-key": "4d506aeb27f540a0a042a65ebaa5ec81"
								},
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "InputBlobCsv",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@pipeline().parameters.FileFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Update",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"isUpsert": true
								}
							}
						]
					},
					{
						"name": "Set EntityName variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EntityName",
							"value": {
								"value": "@replace(pipeline().parameters.FileFolder, 'profisee-input/', '')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FileFolder": {
						"type": "string"
					}
				},
				"variables": {
					"EntityName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProfiseeRESTAPI_Members_Get1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Profisee members get REST API call.",
				"linkedServiceName": {
					"referenceName": "Profisee REST API",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"entityId": {
						"type": "string"
					},
					"pageSize": {
						"type": "int",
						"defaultValue": 1000
					},
					"attributes": {
						"type": "string",
						"defaultValue": " "
					},
					"filter": {
						"type": "string",
						"defaultValue": " "
					},
					"orderBy": {
						"type": "string",
						"defaultValue": " "
					},
					"dbaFormat": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('members/',\ndataset().entityId, \n'/?pageSize=', string(dataset().pageSize),\n'&attributes=', dataset().attributes,\n'&filter=', dataset().filter,\n'&orderBy=', dataset().orderBy,\n'&dbaFormat=', string(dataset().dbaFormat)\n)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputBlobCsv1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Azure Data Lake Storage Gen2 container for CSV format.",
				"linkedServiceName": {
					"referenceName": "BlobStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Egress Profisee REST API to CSV1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST API to CSV",
						"description": "Copy member data from Profisee via the Profisee REST API to ADLS Gen2 in CSV format.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"x-api-key": "4d506aeb27f540a0a042a65ebaa5ec81"
								},
								"paginationRules": {
									"AbsoluteUrl": "$.nextPage"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['code']"
										},
										"sink": {
											"name": "code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['color']"
										},
										"sink": {
											"name": "color",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['class']"
										},
										"sink": {
											"name": "class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['productSubCategory']"
										},
										"sink": {
											"name": "productSubCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sellEndDate']"
										},
										"sink": {
											"name": "sellEndDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['weight']"
										},
										"sink": {
											"name": "weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['changedOn']"
										},
										"sink": {
											"name": "changedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['changedByUser']"
										},
										"sink": {
											"name": "changedByUser",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "ProfiseeRESTAPI_Members_Get1",
								"type": "DatasetReference",
								"parameters": {
									"entityId": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"pageSize": 100,
									"attributes": "Color,Class,ProductSubCategory,SellEndDate,Weight",
									"filter": " ",
									"orderBy": " ",
									"dbaFormat": 1
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputBlobCsv1",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@variables('OutputContainer')",
										"type": "Expression"
									},
									"Directory": {
										"value": "@variables('EntityName')",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(variables('EntityName'), '_', string(utcnow()), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"variables": {
					"OutputContainer": {
						"type": "String",
						"defaultValue": "profisee-output"
					},
					"EntityName": {
						"type": "String",
						"defaultValue": "product"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-09-25T15:29:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ProfiseeRESTAPI_Members_Get1')]",
				"[concat(variables('factoryId'), '/datasets/OutputBlobCsv1')]"
			]
		}
	]
}